:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding:0;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.monaco-editor .cursors-layer .cursor {
  /* visibility: inherit; */
  position: relative !important;
  overflow: visible !important;
  &:after {
    position: absolute !important;
    white-space: nowrap;
    top: 100%;
    left: 0;
    font-size: 12px;
    line-height: 16px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    content: attr(data-current-user);
    z-index: 1000;
  }
}

#custom-cursor {
  position: absolute;
  z-index: 999;
  top: attr(data-top);
  left: attr(data-left);
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    content: "\2196";
  }
  &::before {
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #fff !important;
    border-radius: 50%;
    color:#000 !important;
    margin-left: 20px;
    content:attr(data-name);
  }
}
